<ion-card >
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input type="text" formControlName="categoria"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input type="text" formControlName="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">C.Semillas</ion-label>
      <ion-input type="number" formControlName="semillas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">C. Fosforo</ion-label>
      <ion-input type="number" formControlName="fosforo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">C. Nitrogeno</ion-label>
      <ion-input type="number" formControlName="nitrogeno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">C. Potasio</ion-label>
      <ion-input type="number" formControlName="potasio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rendimiento</ion-label>
      <ion-input type="number" formControlName="rendimiento"></ion-input>
    </ion-item>
      <div class="image">
        <img [src]="form.value.image" />
      </div>

    <ion-item>
      <ion-button (click)="takeImage()">Imagen</ion-button>
      <ion-button type="submit">Agregar</ion-button>
    </ion-item>
  </form>
</ion-card>
