<ion-content>
  <ion-card>
    <div class="titulo">
      <h1>Bienvenido <span class="usuario-nombre">{{usuario.nombre}}</span></h1>
    </div>
    <div class="logo">
      <img
        class="img"
        src="https://firebasestorage.googleapis.com/v0/b/pruebaintegracion-eec23.appspot.com/o/logo%20AgroInfo.jpeg?alt=media&token=b41771ea-6680-451b-9a34-ff1105538680"
        alt=""
      />
    </div>
    <div class="app">
      <h1><strong>AGROINFO</strong></h1>
    </div>

    <div class="parrafo">
      <p>
        En AgroInfo, transformamos el campo con tecnología de vanguardia, ofreciendo herramientas digitales que optimizan la producción agrícola y empoderan a los agricultores con información clave. Desde el análisis de cultivos hasta la gestión eficiente de recursos, nuestro objetivo es conectar la innovación con la tierra, ayudando a mejorar la calidad y el rendimiento de cada cosecha.
      </p>
    </div>
  </ion-card>
</ion-content>
